@import 'normalize.css';
@import 'print.css';
@import 'tables.css';
@import 'tailwind.css';
@import 'scrollbar.css';

/* html,
body,
#root {
  width: 100%;
  height: 100%;
  position: relative;
} */

a[role='button'] {
  text-decoration: none;
}
